params {
    module_version = '0.1a'
    cutadapt {
        version = '4.7'
        module = 'cutadapt/4.7'
        settings {
            // sequence trimming
            adapter_r1 = 'auto'
            adapter_r2 = 'auto'
            poly_a = ''
            // length trimming
            minimum_length = '31'
            trim_by = ''
            trim_to = ''
            // quality trimming
            discard_casava = true
            quality_cutoff = '20'
            max_n = '0'
            max_expected_errors = ''
            max_average_error_rate = ''
        }
    }
}
